body{
background-color:black;
color:white;
}

#name{
	font-family: 'Stardos Stencil', cursive; /*my name*/
	font-size: 42px;
	float:left;
}

.menu{
	border-style: outset;
	border-color: white;
	padding: 20px 40px;
	font-family: 'Oswald', sans-serif; /*headers*/
	font-size:22px;
	float:right;
}

.navbar{
	background-color:#ffffff;
	width:90%;
	margin-left:5%;
}

/* font-family: 'Merriweather', serif; /*long text*/
/* font-family: 'Stardos Stencil', cursive; /*my name*/
/* font-family: 'Oswald', sans-serif; /*headers*/
