body{
background-color:black;
color:white;
}

#name{
	font-family: 'Stardos Stencil', cursive; /*my name*/
	font-size: 72px;
	float:left;
}

.menu{
	border-style: outset;
	border-color: white;
	margin: 20px 40px;
	font-family: 'Oswald', sans-serif; /*headers*/
	float:right;
}

/* font-family: 'Merriweather', serif; /*long text*/
/* font-family: 'Stardos Stencil', cursive; /*my name*/
/* font-family: 'Oswald', sans-serif; /*headers*/
