body{
background-color:black;
color:white;
}

.name{
	font-family: 'Stardos Stencil', cursive; /*my name*/
	font-size: 36px;
}

/* font-family: 'Merriweather', serif; /*long text*/
/* font-family: 'Stardos Stencil', cursive; /*my name*/
/* font-family: 'Oswald', sans-serif; /*headers*/
