	<table class="writingtable">
		<tr>
			<td class="writingtable_box"><img src="https://i.imgur.com/ZTghzRm.png"></td>
			<td class="writingtable_box" id="topm"><img src="https://i.imgur.com/ZTghzRm.png"></td>
			<td class="writingtable_box" id="topr"><img src="https://i.imgur.com/ZTghzRm.png"></td>
		</tr>
		<tr>
			<td class="writingtable_box" id="botl"><img src="https://i.imgur.com/ZTghzRm.png"></td>
			<td class="writingtable_box" id="botm"><img src="https://i.imgur.com/ZTghzRm.png"></td>
			<td class="writingtable_box" id="botr"><img src="https://i.imgur.com/ZTghzRm.png"></td>
		</tr>
	</table>