<div class="writinggrid">
	<div>
	<div class="item"><a href="http://nativeappropriations.com/2020/06/between-history-and-hope.html"><img src="https://i.imgur.com/ibdXhdO.png"></a><span class="caption">Between History and Hope</span></div>
	<img src="https://i.imgur.com/ZTghzRm.png" class="item">
	<img src="https://i.imgur.com/ZTghzRm.png" class="item">
	</div>
	<div>
	<img src="https://i.imgur.com/ZTghzRm.png" class="item">
	<img src="https://i.imgur.com/ZTghzRm.png" class="item">
	<img src="https://i.imgur.com/ZTghzRm.png" class="item">
	</div>
</div>
<div class="mobilewritinggrid">
	<div>
	<img src="https://i.imgur.com/ZTghzRm.png" class="mobileitem">
	<img src="https://i.imgur.com/ZTghzRm.png" class="mobileitem">
	</div>
	<div>
	<img src="https://i.imgur.com/ZTghzRm.png" class="mobileitem">
	<img src="https://i.imgur.com/ZTghzRm.png" class="mobileitem">
	</div>
	<div>
	<img src="https://i.imgur.com/ZTghzRm.png" class="mobileitem">
	<img src="https://i.imgur.com/ZTghzRm.png" class="mobileitem">
	</div>
</div>