<div class="writinggrid">
	<div>
	<div class="item"><a href="http://nativeappropriations.com/2020/06/between-history-and-hope.html"><img src="https://i.imgur.com/ibdXhdO.png"></a><span class="caption">Between History and Hope</span></div>
	<img src="https://i.imgur.com/ZTghzRm.png" class="item">
	<img src="https://i.imgur.com/ZTghzRm.png" class="item">
	</div>
	<div>
	<img src="https://i.imgur.com/ZTghzRm.png" class="item">
	<img src="https://i.imgur.com/ZTghzRm.png" class="item">
	<img src="https://i.imgur.com/ZTghzRm.png" class="item">
	</div>
</div>
<div class="mobilewritinggrid">
	<div>
	<div class="mobileitem"><a href="http://nativeappropriations.com/2020/06/between-history-and-hope.html"><img src="https://i.imgur.com/ibdXhdO.png"></a><span class="caption">Between History and Hope</span></div>
	<img src="https://i.imgur.com/ZTghzRm.png" class="mobileitem">
	</div>
	<div>
	<img src="https://i.imgur.com/ZTghzRm.png" class="mobileitem">
	<img src="https://i.imgur.com/ZTghzRm.png" class="mobileitem">
	</div>
	<div>
	<img src="https://i.imgur.com/ZTghzRm.png" class="mobileitem">
	<img src="https://i.imgur.com/ZTghzRm.png" class="mobileitem">
	</div>
</div>
<div class="furtherinfo">
<span class="titular">Non-Fiction</span>
<p><a href="http://nativeappropriations.com/2020/06/between-history-and-hope.html">Between History and Hope</a> - A short piece written for Dr. Adrienne Keene's Indigenous Stories in Uncertain Times series calling for Indigenous folk to describe their lived experience in the Covid Pandemic.</p>
</div>